@charset "utf-8";

/* 게시판 레이아웃 */
.sub-conts-wrap {width:1200px; margin: 40px auto;}
@media screen and (max-width:1100px) {
    .sub-conts-wrap {width:90%; margin: 20px auto;}  
}

/* oline 강동버전 */
.q_title {margin:50px 0 10px 0; font-size:16px; color:#222; font-weight:500; }
.q_left {float:left; width:130px; margin:10px 0; font-size:16px; color:#222; font-weight:350;}
.q_right {width:64%; float:left; margin: 10px 0; font-size:16px; color:#222; font-weight:350;}
.q_radio {margin-right:20px;}
.q_2line {margin:17px 0 0 0;}
.q_fullinput > input {width:100%;}
/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {display:inline-block;font-weight: 400;font-size:14px;line-height:35px;min-width:100px;height:35px;padding:0 10px;text-align:center;background:#3874c7;color:#fff;text-decoration:none;vertical-align:middle}
.btn_b01:hover, .btn_b01:hover {background:#333; }
a.btn_b02,.btn_b02 {display:inline-block;font-weight: 400;font-size:14px;line-height:35px;min-width:100px;height:35px;padding:0 10px;text-align:center;background:#4a5460;padding:0 10px;color:#fff;text-decoration:none;border:0;vertical-align:middle;}
a.btn_b02:hover, .btn_b02:hover {background:#4a5460}
a.btn_b03, .btn_b03 {display:inline-block;font-size:14px;line-height:35px;min-width:100px;height:35px;padding:0 10px;text-align:center;background:#fff;border:1px solid #b9bdd3;color:#646982;text-decoration:none;vertical-align:middle}
a.btn_b03:hover, .btn_b03:hover {background:#ebedf6}
a.btn_b04, .btn_b04 {display:inline-block;font-size:14px;line-height:35px;min-width:100px;height:35px;padding:0 10px;text-align:center;background:#fff;border:1px solid #ccc;color:#707070;text-decoration:none;vertical-align:middle}
a.btn_b04:hover, .btn_b04:hover {color:#333;background:#f9f9f9}
a.btn_admin,.btn_admin {display:inline-block;font-weight: 400;font-size:14px;line-height:35px;min-width:100px;height:35px;padding:0 10px;text-align:center;background:#3874c7;color:#fff;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
.btn_admin:hover, a.btn_admin:hover {background:#3874c7}

.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {font-size:14px;line-height:35px;min-width:100px;height:35px;padding:0 10px;text-align:center;border:0;background:#3874c7;color:#fff;text-decoration:none;vertical-align:middle}


.bo_fx {float:none;}
.btn_bo_user {overflow:hidden; margin-bottom: -38px; float:left;}
.btn_bo_user li {float:left; margin-right: 7px;}
.btn_bo_user li:last-child {margin-right: 0;}

 @media screen and (max-width: 768px) { 
	.btn_bo_user {margin-bottom: 10px;}
 }

/* 게시판카테고리 */
#bo_cate { 
	margin-bottom: 40px; 
	width:100%; padding-bottom: 15px; 
	border-bottom:1px solid #ccc; 
	text-align:center;
}
#bo_cate h2 { 
	display:none;
}
#bo_cate ul { 
	font-size:0;
}
#bo_cate ul li { 
	display:inline-block; vertical-align:top;
}
#bo_cate ul li a { 
	position:relative; 
	display:block; 
	padding:0 25px; 
	font-weight:300; font-size:18px; 
	color:#333;
}
#bo_cate ul li a:before { 
	content:''; 
	position:absolute; top:50%; left:0; 
	margin-top: -7px; 
	width:1px; height:14px; 
	background: #c1c1c1;
}
#bo_cate ul li:first-child a:before { 
	display:none;
}
#bo_cate #bo_cate_on { 
	font-weight: 500;
}

@media screen and (max-width: 768px) { 
	#bo_cate { 
		margin-bottom: 30px;
	}
	#bo_cate ul li a { 
		padding:0 20px; font-size:16px;
	}	 
}
@media screen and (max-width: 480px) { 
	#bo_cate ul li a { 
		padding:2px 15px; font-size:14px;
	}	
	#bo_cate ul li a:before { 
		margin-top: -5px; height:12px;
	}
}

/* 게시판검색 */
#bo_sch { 
	margin-bottom: 35px; width:100%; 
	text-align:right;
}
#bo_sch form { 
	font-size:0;
}
#bo_sch select, 
#bo_sch .sch_input { 
	display:inline-block; 
	padding:0 10px; height:38px; 
	border:1px solid #dedede; 
	font-size:14px; color:#666;
}
#bo_sch select { 
	width:100px;
}
#bo_sch .sch_input { 
	margin-left: 5px; width:240px;
}
#bo_sch .sch_btn { 
	display:inline-block; 
	margin-left: 9px; 
	width:70px; height:38px; 
	border:0 none; background: #656565;
}
#bo_sch .sch_btn i { 
	display:none;
}
#bo_sch .sch_btn span { 
	font-size:14px; line-height: 38px; color:#fff;
}
 @media screen and (max-width: 768px) { 
	#bo_sch .sch_input { 
		width:calc(100% - 184px);
	}
 }
@media screen and (max-width: 480px) { 
	#bo_sch select { 
		width:80px;
	}
	#bo_sch .sch_input { 
		width:calc(100% - 164px);
	}
 }


 /* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing: 0 5px;border:1px solid #303030; border-width:1px 0; font-size:14px;} 
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}
.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:10px 0;font-weight:normal;text-align:center;border-bottom:1px solid #ddd;height:50px; vertical-align:middle;}
.tbl_head01 thead th a {color:#666;}
.tbl_head01 thead th a i {display:none;}
.tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-bottom:1px solid #e8e8e8}
.tbl_head01 td {color:#666;background:#fff;padding:10px 5px;border-top:1px solid #ecf0f1;line-height:1.4em;height:50px;word-break:break-all; text-align:center;}
.tbl_head01 tbody tr:hover td{background:#fafafa;}
.tbl_head01 a:hover {text-decoration:underline}
.bo_tit a {font-weight: 400; color:#666;}
.td_num2 {text-align:center;}

 @media screen and (max-width: 768px) { 
	.tbl_wrap .td_num2 + td {padding-bottom: 5px;}
	.td_datetime { 
		display:none; 
	}
 }

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}

 @media screen and (max-width: 768px) { 
	.tbl_head01 thead th {display:none;}
	.tbl_head01 .td_num2 {display:none;}
 }

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="submit"],
button,
textarea {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
   border:1px solid #dedede;
   box-shadow:none !important;
}
input { 
   -webkit-border-radius: 0;
   background: #fff;
}
select { 
   -webkit-border-radius: 0;
   background: #fff;
}

/* 페이징 */
.pg_wrap {clear:both;margin:30px 0 ;text-align:center; float:none!important;}
.pg_wrap:after {display:block;visibility:hidden;clear:both;content:""} 
.pg {font-size:0;}
.pg_page, .pg_current {display:inline-block;vertical-align:middle;border-radius:0;border:1px solid #dedede}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {color:#555;font-size:13px;margin-right: -1px;width:35px;height:35px;line-height:33px;text-decoration:none;}
.pg_page:hover{background-color:#f1f1f1}
.pg_start {margin-right: 16px; text-indent:-999px;overflow:hidden;background:url('../img/btn_first.gif') no-repeat 50% 50% #fff;}
.pg_prev {margin-right: 16px; text-indent:-999px;overflow:hidden;background:url('../img/btn_prev.gif') no-repeat 50% 50% #fff;}
.pg_end {margin-left: 16px; text-indent:-999px;overflow:hidden;background:url('../img/btn_end.gif') no-repeat 50% 50% #fff;}
.pg_next {margin-left: 16px; text-indent:-999px;overflow:hidden;background:url('../img/btn_next.gif') no-repeat 50% 50% #fff;}
.pg_start + .pg_prev {margin-left: -17px;}
.pg_next + .pg_end {margin-left: 0;}
.pg_start:hover,.pg_prev:hover,.pg_end:hover,.pg_next:hover{background-color:#fafafa}

.pg_current {display:inline-block;width:35px;height:35px;border-color:#8b653c;background:#363636;font-size:13px;line-height: 33px;color:#fff !important;font-weight:bold;
-webkit-box-shadow: inset 1px 1px 2px #222542;
-moz-box-shadow:  inset 1px 1px 2px #222542;
box-shadow: inset 1px 1px 2px #222542;
}





/* main
------------------------------------------------------ */
/* 
	main-visual
*/
.main-visual { 
	width:100%; height:745px;
}
.main-visual .slide { 
	position:relative;
	display:block;
	width:100%; height:100%;
	background: url('/images/main/main_visual.jpg') no-repeat center center;
	background-size:cover;
}
.visual-text { 
	position:absolute; top:50%; left:50%;
	transform:translate(-50%,-50%);
	margin-top:-30px;
	width:1216px;
	color:#fff;
	text-align:right;
}
.visual-text h1 { 
	font-weight: 700; font-size:72px; line-height: 1.25;
	letter-spacing:-2px;
}
.visual-text h1 strong { 
	font-weight: 700; color:#5285cd; 
}
.visual-text p { 
	margin-top: 40px;
	font-weight: 300;
	font-size:36px; line-height: 1.25;
}

@media screen and (max-width: 1216px) { 
	.visual-text { 
		width:100%; 
	}
}
@media screen and (max-width: 1024px) { 
	.main-visual { 
		height:560px; 
	}
	.main-visual .slide { 
		background: url('/images/main/m_main_visual.jpg') no-repeat center center;
		background-size:cover;
	}
	.visual-text { 
		top:auto; left:auto;
		bottom:40px; right:40px;
		transform:none;
	}
}
@media screen and (max-width: 768px) { 
	.visual-text { 
		bottom:30px; right:30px;
	}
	.visual-text h1 { 
		font-size:36px; 
	}
	.visual-text p { 
		margin-top: 20px;
		font-size:22px; 
	}
}
@media screen and (max-width: 480px) { 
	.main-visual { 
		height:460px; 
	}
	.visual-text { 
		 right:20px;
	}
	.visual-text h1 { 
		font-size:30px; 
	}
	.visual-text p { 
		font-size:18px; 
	}
}

/* 
	main-quick-wrap
*/
.main-quick-wrap { 
	position:relative; z-index:22;
	margin-top: -60px;
	width:100%;	 
}
.main-quick-wrap ul { 
	overflow:hidden;	 
	display:table;
	width:100%;
	table-layout:fixed;
}
.main-quick-wrap ul li { 
	display:table-cell;
	height:110px;
	border-left:1px solid #6c737d;
	background: #5b636e;
	table-layout:fixed;
	text-align:center;
	vertical-align:middle;
	transition:.3s;
}
.main-quick-wrap ul li:hover { 
	background: #3874c8; 
}
.main-quick-wrap ul li a { 
	display:block;
}
.main-quick-wrap ul li a span { 
	display:block;
	margin-top: 10px;
	font-size:17px;
	color:#fff;
}

@media screen and (max-width: 1216px) { 
	.main-quick-wrap { 
		margin-top: 0; 
	}
}
@media screen and (max-width: 768px) { 
	.main-quick-wrap ul { 
		display:block; 
	}
	.main-quick-wrap ul { 
		position:relative;
		font-size:0; 
	}
	.main-quick-wrap ul:before { 
		content:'';
		position:absolute; top:50%; left:0;
		width:100%; height:1px;
		background: #6c737d;
	}
	.main-quick-wrap ul li { 
		display:inline-block;
		padding:18px 0 14px;
		width:25%; height:auto;
		vertical-align:middle;
	}
	.main-quick-wrap ul li a span { 
		font-size:16px; 
	}
}
@media screen and (max-width: 480px) { 
	.main-quick-wrap ul li { 
		padding:13px 0 9px; 
	}
	.main-quick-wrap ul li a img { 
		height:25px; 
	}
	.main-quick-wrap ul li a span { 
		font-size:12px; 
	}
}

.quick-banner { 
	padding:6% 5%; width:100%; 
	background: url('/images/main/main_quick_bg.jpg') no-repeat center center;
	background-size:cover;
	text-align:center;
	font-size:0;
}
.quick-banner .text-wrap { 
	display:inline-block;
	width:calc(100% - 275px);
	color:#fff;
	text-align:left;
	vertical-align:middle;
}
.quick-banner .text-wrap h1 { 
	font-weight: 700; font-size:38px;
	letter-spacing:-2px;
	word-break:keep-all;
}
.quick-banner .text-wrap p { 
	margin-top: 10px;
	font-size:18px; 
}
.quick-banner > a { 
	display:inline-block;
	margin-left: 115px;
	width:160px;
	border:1px solid #fff;
	font-size:16px; line-height: 42px;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	transition:.3s;
}
.quick-banner > a:hover { 
	background: #fff;
	color:#3874c8;
	text-decoration:none; 
}

@media screen and (max-width: 1024px) { 
	.quick-banner { 
		display:none; 
	}
}


/*
	main-online
*/
.main-online { 
	margin:50px 0 85px;	 
}
.main-online .inner > h1 { 
	font-weight: 700; font-size:28px;
	color:#333;
}
.main-online .inner > h1 span { 
	margin-left: 25px;
	font-weight: 400; font-size:16px;
	color:#666;
}
.main-online-box { 
	display:table;
	margin-top: 20px;
	width:100%;
}
.main-online-box > section { 
	display:table-cell;
	padding:45px 50px; width:50%;
	border:1px solid #d5d5d5; 
}
.main-online-box > section:last-child { 
	border-left:0 none; 
}

@media screen and (max-width: 1216px) { 
	.main-online { 
		padding:0 30px;
	}	 
}
@media screen and (max-width: 950px) { 
	.main-online-box { 
		display:block; 
	}
	.main-online-box > section { 
		display:block;
		padding:30px 20px;
		width:100%;
		border:0 none;
	}
	.main-online-box .online-form { 
		padding-left: 0; padding-right: 0;	 
	}
	.main-online-box .main-online-info { 
		border:1px solid #d5d5d5 !important;	 
	}
}
@media screen and (max-width: 768px) { 
	.main-online { 
		margin:40px 0 60px;	 
		padding:0 20px;
	}
	.main-online .inner > h1 { 
		font-size:23px; 
	}
	.main-online .inner > h1 span { 
		margin-left: 15px; 
	}
	.main-online-box { 
		margin-top: 0; 
	}
}
@media screen and (max-width: 480px) { 
	.main-online-box > section { 
		padding:20px; 
	}
	.main-online { 
		margin:30px 0 50px;	
	}
	.main-online .inner > h1 { 
		font-size:19px; 
	}
	.main-online .inner > h1 span { 
		margin-left: 10px; 
		font-size:12px; 
	}
}



/* 1:1상담신청 */
.form-list .form-title { 
	display:inline-block;
	width:115px;
	font-weight: 300; font-size:18px; line-height: 45px;
	text-align:left;
	vertical-align:top;
}
.form-list li { 
	margin-bottom: 8px;
	font-size:0;
}
.form-list .form-wrap { 
	display:inline-block;
	width:calc(100% - 115px);
	text-align:left; 
	vertical-align:top;
}
.form-list .form-wrap input[type="tel"] { 
	display:inline-block;
	padding:0 15px;
	width:calc(100% / 3 - 10px); height:45px;
	border:1px solid #d5d5d5;
	background: #fff;
	font-size:14px;
	color:#999;
	vertical-align:top;
}
.form-list .form-wrap input[type="tel"]:first-child { 
	margin-left: 0; 
}
.form-list .form-wrap input[type="tel"] + span { 
	display:inline-block;
	width:15px;
	font-size:14px; line-height: 45px;
	text-align:center;
	vertical-align:top;
}
.form-list .form-wrap textarea { 
	padding:15px;
	width:100%; height:45px;
	border:1px solid #d5d5d5;
	background: #fff;
	font-size:14px;
	color:#999;
}
.form-list .form-wrap textarea { 
	height:120px; 
}
.form-check-label { 
	display:block;
	margin:10px 0 14px;
	font-weight: 300; font-size:16px; line-height: 17px;
}
.form-check-input { 
	display:inline-block;
	margin-right: 3px;
	width:17px; height:17px;
	vertical-align:top;
}
.form-btn { 
	margin-top: 20px; 
}
.form-btn button { 
	width:100%; height:55px;
	border:0 none;
	background: #3c3c3c;
	font-weight: 300; font-size:17px; line-height: 55px;
	color:#fff;
	text-align:center;
}

@media screen and (max-width: 768px) { 
	.form-list .form-title { 
		width:100px;
		font-size:16px; line-height: 40px;
	}
	.form-list .form-wrap { 
		width:calc(100% - 100px);
	}
	.form-list .form-wrap select ,
	.form-list .form-wrap input[type="tel"] { 
		padding:0 10px;
		height:40px; 
	}
	.form-list .form-wrap input[type="tel"] + span { 
		line-height: 40px; 
	}
	.form-btn { 
		margin-top: 0; 
	}
	.form-btn button { 
		height:50px; line-height: 50px; 
	}
}
@media screen and (max-width: 480px) { 
	.form-list .form-title { 
		width:70px;
		font-size:14px; line-height: 35px;
	}
	.form-list .form-wrap { 
		width:calc(100% - 70px);
	}
	.form-list .form-wrap select ,
	.form-list .form-wrap input[type="tel"] { 
		height:35px; 
	}
	.form-list .form-wrap input[type="tel"] + span { 
		line-height: 35px; 
	}
	.form-check-label { 
		margin-bottom: 7px;
		font-size:14px; 
	}
	.form-btn button { 
		height:40px; font-size:14px; line-height: 40px; 
	}
}


.main-online-info { 
	 
}
.main-online-info dt { 
	font-weight:400; font-size:21px;
	color:#333;
}
.main-online-info dd { 
	font-weight:700; font-size:72px; line-height: 1.2;
	color:#3874c8;
	letter-spacing:-1.5px;
}
.main-online-info ul { 
	margin-top: 10px; 
}
.main-online-info li { 
	padding:4px 0;
	font-size:18px;
}
.main-online-info p { 
	margin-top: 55px;
	font-size:19px; line-height: 1.4;
	text-align:right;
}

@media screen and (max-width: 768px) { 
	.main-online-info dt { 
		font-size:18px; 
	}
	.main-online-info dd { 
		font-size:60px; 
	}
	.main-online-info li { 
		padding:2px 0; 
	}
	.main-online-info p { 
		margin-top: 20px;
		font-size:16px; 
		color:#676767;
	}
}
@media screen and (max-width: 480px) { 
	.main-online-info dt { 
		font-size:15px; 
	}
	.main-online-info dd { 
		font-size:40px; 
	}
	.main-online-info li { 
		font-size:15px; 
	}
	.main-online-info p { 
		margin-top: 15px;
		font-size:14px; 
	}
}


/* 
*/
.main-conts-title { 
	margin-bottom: 50px;
	font-weight:400; font-size:60px;
	color:#fff;
	letter-spacing:-2px;
	text-align:center;
}
.main-conts-title + p { 
	margin-top: -30px;
	font-weight: 300; font-size:22px;
	color:#fff;
	text-align:center;
	word-break:keep-all;
}

@media screen and (max-width: 768px) { 
	.main-conts-title { 
		margin-bottom: 30px;
		font-size:38px; 
	}
	.main-conts-title + p { 
		margin-top: -15px;
		font-size:16px; line-height: 1.5;
	}
}
@media screen and (max-width: 480px) { 
	.main-conts-title { 
		margin-bottom: 25px;
		font-size:32px; 
	}
	.main-conts-title + p { 
		font-size:14px; 
	}
}


/* 
	main-lawyer
*/
.main-lawyer { 
	padding:80px 0 0;
	width:100%;
	background: url('/images/main/main_lawyer_bg.jpg') no-repeat center top;
}

.main-lawyer .main-conts-title + p { 
	margin-bottom: 80px;
}
.main-lawyer  .bx-wrapper { 
	position:relative;
	border-radius:20px;
	box-shadow:20px 0 40px rgba(0,0,0,.25);
}
.main-lawyer .bx-viewport { 
	border-radius:20px;
	background: #fff;
}
.lawyer-info { 
	overflow:hidden;
	width:100%;
	text-align:center;
}
.lawyer-info .slide { 
	padding-top: 20px;
	width:100%;
}
.lawyer-info .lawyer-txt,
.lawyer-info .lawyer-img { 
	display:inline-block;
	vertical-align:middle;
}
.lawyer-info .lawyer-txt { 
	position:relative;
	z-index:33;
}
.lawyer-info .lawyer-txt h1,
.lawyer-info .lawyer-txt ul { 
	float:left; 
	text-align:left; 
}
.lawyer-info .lawyer-txt h1 { 
	padding-right: 65px;
	font-weight: 700; font-size:42px;
	color:#333;
}
.lawyer-info .lawyer-txt h1 span { 
	display:block;
	font-weight: 400; font-size:17px;
	color:#3874c8;
}
.lawyer-info .lawyer-txt ul { 
	padding-left: 30px;
	width:270px;
	border-left:1px solid #dedede;
}
.lawyer-info .lawyer-txt ul li { 
	padding:7px 0; 
}
.lawyer-info .lawyer-img { 
	width:34.129%; 
}
.lawyer-info .lawyer-img img { 
	width:100%; 
}

.main-lawyer .bx-prev,
.main-lawyer .bx-next { 
	position:absolute; 
	top:50%;
	margin-top: -24px;
	width:30px; height:48px;
	font-size:0;
}
.main-lawyer .bx-prev { 
	left:45px;
	background: url('/images/main/lawyer_arrow_prev.png') no-repeat 0 0;
	background-size:100% auto;
}
.main-lawyer .bx-next { 
	right:45px;
	background: url('/images/main/lawyer_arrow_next.png') no-repeat 0 0;
	background-size:100% auto;
}

@media screen and (max-width: 1216px) { 
	.main-lawyer { 
		padding:80px 30px 0; 
	}
}
@media screen and (max-width: 950px) { 
	.lawyer-info { 
		text-align:left; 
	}
	.main-lawyer .bx-viewport { 
		height:auto !important; 
	}
	.lawyer-info .slide { 
		overflow:hidden;
		padding:30px 30px 0; 
	}
	.lawyer-info .lawyer-txt h1 { 
		display:block;
		margin-bottom: 30px;
		width:100%;
	}
	.lawyer-info .lawyer-txt ul { 
		display:block;
		margin-bottom: 25%;
		width:100%;
	}
	.lawyer-info .lawyer-img { 
		position:absolute; bottom:-30px; right:-30px;
		width:50%;
	}
	.main-lawyer .bx-prev,
	.main-lawyer .bx-next { 
		top:auto; bottom:40px;
		margin-top: auto; 
	}
	.main-lawyer .bx-prev { 
		left:30px; 
	}
	.main-lawyer .bx-next { 
		left:100px; 
	}
}
@media screen and (max-width: 768px) { 
	.main-lawyer { 
		padding:40px 20px 0; 
		background-size:auto 380px;
	}
	.main-lawyer .main-conts-title + p { 
		margin-bottom: 50px; 
	}
	.lawyer-info .lawyer-txt h1 { 
		font-size:36px; 
	}
	.lawyer-info .lawyer-txt h1 span { 
		font-size:16px; 
	}
	.lawyer-info .lawyer-img { 
		bottom:0; right:-30px;
		width:60%;
	}
	.main-lawyer .bx-prev,
	.main-lawyer .bx-next { 
		width:20px; height:32px; 
	}
	.main-lawyer .bx-next { 
		left:70px; 
	}
}
@media screen and (max-width: 480px) { 
	.main-lawyer { 
		background-size:auto 320px;
	}
	.main-lawyer .main-conts-title + p { 
		margin-bottom: 30px; 
	}
	.lawyer-info .slide { 
		padding:20px 20px 0; 
	}
	.lawyer-info .lawyer-txt h1 { 
		margin-bottom: 25px;
		font-weight: 400; font-size:30px; 
	}
	.lawyer-info .lawyer-txt h1 span { 
		font-size:14px; 
	}
	.lawyer-info .lawyer-txt ul { 
		margin-bottom: 40%;
		padding-left: 20px; 
	}
	.lawyer-info .lawyer-txt ul li { 
		padding:3px 0;
		font-size:14px;
	}
	.main-lawyer .bx-prev,
	.main-lawyer .bx-next { 
		bottom:20px; 
	}
}


/* 
	main-business
*/
.main-business { 
	margin-top: 30px;	 
}
.main-business h1 { 
	font-weight: 700; font-size:28px;
	color:#333;
}
.main-business ul { 
	overflow:hidden;
	margin-bottom: 90px;
}
.main-business ul li { 
	float:left;
	display:table;
	margin:23px 0 0 23px;
	width:calc(100% / 3 - 16px); height:68px;
	vertical-align:top;
}
.main-business ul li:nth-child(3n+1) { 
	margin-left: 0; 
}
.main-business ul li a { 
	position:relative;
	display:table-cell;
	padding: 0 0 0 7%;
	background: #3874c8;
	font-weight: 300; font-size:24px;
	color:#fff;
	vertical-align:middle;
	transition:.3s;
}
.main-business ul li a:hover { 
	background: #292e3e; 
}
.main-business ul li a:before { 
	content:'+';
	position:absolute; top:0; right:30px;
	font-weight: 300;
	font-size:36px; line-height: 68px;
	transition:.3s;
}
.main-business ul li a:hover:before { 
	transform:rotate(180deg); 
}
.main-business ul li a span { 
	margin-left: 10px;
	font-size:14px; letter-spacing:0;
	color:rgba(255,255,255,.6);
}

@media screen and (max-width: 1216px) { 
	.main-business { 
		padding:0 30px; 
	}
}
@media screen and (max-width: 1024px) { 
	.main-business ul li { 
		width:calc(100% / 2 - 12px);	 
	}
	.main-business ul li:nth-child(3n+1) { 
		margin-left: 23px; 
	}
	.main-business ul li:nth-child(2n+1) { 
		margin-left: 0; 
	}
}
@media screen and (max-width: 768px) { 
	.main-business { 
		padding:0 20px; 
	}
	.main-business ul { 
		margin-bottom: 60px; 
	}
	.main-business ul li { 
		margin:20px 0 0 20px;
		width:calc(100% / 2 - 10px); height:50px;
	}
	.main-business ul li:nth-child(3n+1) { 
		margin-left: 20px; 
	}
	.main-business ul li:nth-child(2n+1) { 
		margin-left: 0;
	}
	.main-business ul li a { 
		font-size:16px; 
	}
	.main-business ul li a span { 
		font-size:12px; 
	}
	.main-business ul li a:before { 
		right:20px;
		font-size:22px; line-height: 50px;
	}
}
@media screen and (max-width: 480px) {	
	.main-business { 
		margin-top: 25px;	 
	}
	.main-business h1 { 
		font-size:18px; 
	}
	.main-business ul { 
		margin-bottom: 50px; 
	}
	.main-business ul li { 
		margin-left: 0; margin-top: 10px;
		width:100%; 
	}
	.main-business ul li:nth-child(3n+1) { 
		margin-left: 0; 
	}
}


/* 
	main-case	
*/
.main-case { 
	padding:80px 0 94px;
	width:100%;
	background: #292e3e; 
}
.main-case-list { 
	width:100%;
	text-align:left;
	font-size:0;
}
.main-case-list > li { 
	display:inline-block;
	margin:0 0 25px 20px; 
	width:calc(100% / 3 - 14px);
	border:1px solid #fff;
	box-sizing:border-box;
	background: #fff;
	vertical-align:top;
	transition:.3s;
}
.main-case-list > li:hover { 
	border:1px solid #3874c8;
}
.main-case-list > li:nth-child(3n+1) { 
	margin-left: 0; 
}
.main-case-list > li a { 
	display:block; 
	padding:30px 50px;
}
.main-case-list .cate-name { 
	display:block;
	font-weight: 400; font-size:16px;
	color:#3874c8;
}
.main-case-list .title { 
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:2; 
	-webkit-box-orient:vertical; 
	text-overflow:ellipsis;
	margin:15px 0 35px;
	height:52px;
	font-weight: 400; font-size:20px; line-height: 26px;
	color:#333;
	word-break:keep-all;
}
.main-case-list .conts { 
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:2; 
	-webkit-box-orient:vertical; 
	text-overflow:ellipsis;
	height:44px;
	font-weight: 400; font-size:16px; line-height:22px;
	color:#888;
}

.board-more { 
	display:block;
	margin:30px auto 0;
	width:240px; height:60px;
	border:1px solid #fff;
	font-weight: 400; font-size:20px; line-height: 58px;
	color:#fff;
	text-align:center;
	transition:.3s;
}
.board-more:hover { 
	border-color:#3874c8;
	background: #3874c8;
	color:#fff;
}

@media screen and (max-width: 1216px) { 
	.main-case { 
		padding:80px 30px 94px;
	}
}
@media screen and (max-width: 950px) { 
	.main-case-list > li a { 
		padding:25px 30px;	 
	}
}
@media screen and (max-width: 768px) { 
	.main-case { 
		padding:40px 20px 60px;
	}
	.main-case-list > li { 
		margin:0 0 20px 20px; 
		width:calc(50% - 10px); 
	}
	.main-case-list > li:nth-child(3n+1) { 
		margin-left: 20px; 
	}
	.main-case-list > li:nth-child(2n+1) { 
		margin-left: 0; 
	}
	.main-case-list > li a { 
		padding:20px 23px;	 
	}
	.main-case-list .cont .cate-name { 
		font-size:14px; 
	}
	.main-case-list .title { 
		margin:5px 0 12px; height: 42px;
		font-size:18px; line-height: 1.2;
	}
	.main-case-list .conts { 
		height:40px;
		font-size:14px; line-height: 20px;
	}
	.board-more { 
		margin-top: 20px;
		width:180px; height:45px;
		font-size:16px; line-height: 43px;
	}
}
@media screen and (max-width: 480px) { 
	.main-case { 
		padding:35px 20px 50px;
	}
	.main-case-list > li { 
		margin-left: 0; margin-bottom: 15px;
		width:100%; 
	}
	.main-case-list > li:nth-child(3n+1) { 
		margin-left: 0; 
	}
}

/* 
	main-magazine
*/
.main-magazine { 
	padding:100px 0 120px; 
}
.main-magazine .main-conts-title { 
	color:#333; 
}

.main-magazine .inner { 
	overflow:hidden;
}
.magazine-banner { 
	position:relative;
	float:left;
}
.magazine-banner p { 
	position: absolute; bottom:50px; left:0;
	width:100%;
	font-weight: 300; font-size:28px;
	color:#1d1c1c;
	letter-spacing:-0.5px;
	text-align:center;
}
.magazine-banner p strong { 
	display:block;
	font-weight: 700; 
}

.magazine-list { 
	float:left;
	padding-left:36px;
	width:calc(100% - 500px); 
}
.main-board-wrap { 
	position:relative;
	margin-top: 20px;
	padding:31px 40px;
	width:100%; height:210px; 
	background: #f0f0f0;
}
.main-board-wrap:first-child { 
	margin-top: 0; 
}
.main-board-wrap > h1 { 
	margin-bottom: 15px;
	font-weight: 400; font-size:24px;
	color:#333;
}
.main-board-wrap li a { 
	overflow:hidden;
	display:block;
	width:100%;
	font-weight: 400; font-size:17px; line-height: 34px;
	color:#888;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.main-board-wrap .main-board-more { 
	position:absolute; top:8px; right:24px;
	font-size:0;
}
.main-board-wrap .main-board-more:before { 
	content:'+';
	display:block;
	font-size:36px; line-height: 1;
	color:#454545; 
}

@media screen and (max-width: 1216px) { 
	.main-magazine { 
		padding:100px 30px 120px
	}
}
@media screen and (max-width: 950px) { 
	.magazine-banner { 
		display:none; 
	}
	.magazine-list { 
		padding:0;
		width:100%; 
	}
}
@media screen and (max-width: 768px) { 
	.main-magazine { 
		padding:45px 20px 60px
	}
	.main-board-wrap { 
		padding:20px 27px; 
		height:auto;
	}
	.main-board-wrap > h1 { 
		margin-bottom: 10px;
		font-weight: 700; font-size:23px; 
	}
	.main-board-wrap li a { 
		font-size:16px; line-height: 24px; 
	}
}
@media screen and (max-width: 480px) { 
	.main-magazine { 
		padding:35px 20px 50px
	}
	.main-board-wrap > h1 { 
		font-size:20px; 
	}
	.main-board-wrap li a { 
		font-size:14px; line-height: 20px; 
	}
	.main-board-wrap .main-board-more { 
		top:5px; right:15px; 
	}
	.main-board-wrap .main-board-more:before { 
		font-size:32px; 
	}
}






/*
	승소사례 
*/
.case-list { 
	width:100%;
	text-align:left;
	font-size:0;
}
.case-list > li { 
	display:inline-block;
	margin:0 0 25px 20px; padding:30px 50px;
	width:calc(100% / 3 - 14px);
	border:1px solid #f1f1f1;
	box-sizing:border-box;
	background: #f1f1f1;
	vertical-align:top;
	transition:.3s;
}
.case-list > li:hover { 
	border:1px solid #3874c7;
	background: #fff;
	box-shadow:15px 0 20px rgba(0,0,0,.1);
}
.case-list > li:nth-child(3n+1) { 
	margin-left: 0; 
}
.case-list > li a { 
	display:block; 
}
.case-list > li a > img { 
	margin-bottom: 25px; width:100%; 
}
.case-list .cate-name { 
	display:block;
	font-weight: 300; font-size:16px;
	color:#3874c7;
}
.case-list strong { 
    overflow:hidden;
    display:block;
	display:-webkit-box;
	-webkit-line-clamp:2; 
	-webkit-box-orient:vertical; 
	text-overflow:ellipsis;
	margin:15px 0 35px;
	height:58px;
	font-weight: 300; font-size:20px;
	color:#333;
	word-break:keep-all;
}
.case-list.photo strong { 
	margin:3px 0 20px;
}
.case-list .bo-content { 
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:2; 
	-webkit-box-orient:vertical; 
	text-overflow:ellipsis;
	height:44px;
	font-weight: 300; font-size:16px; line-height:22px;
	color:#888;
}

.case-list .no-data { 
	width:100%;
	background: #fff;
	border:0 none;
	text-align:center;
	font-weight: 300; font-size:16px;
}
.case-list .no-data:hover { 
	box-shadow:none;
	border:0 none;
}

@media screen and (max-width: 768px) { 
	.case-list > li { 
		margin:0 0 20px 20px; padding:20px 23px;
		width:calc(50% - 10px); 
	}
	.case-list > li:nth-child(3n+1) { 
		margin-left: 20px; 
	}
	.case-list > li:nth-child(2n+1) { 
		margin-left: 0; 
	}
	.case-list .cate-name { 
		font-size:14px; 
	}
	.case-list  strong { 
		overflow:hidden;
		display:-webkit-box;
		-webkit-line-clamp:2; 
		-webkit-box-orient:vertical; 
		text-overflow:ellipsis;
		margin:5px 0 12px; height: 42px;
		font-size:18px; line-height: 1.2;
	}
	.case-list .cont .bo-content { 
		height:40px;
		font-size:14px; line-height: 20px;
	}
}
@media screen and (max-width: 480px) { 
	.case-list > li { 
		margin-left: 0; margin-bottom: 15px;
		width:100%; 
	}
	.case-list > li:nth-child(3n+1) { 
		margin-left: 0; 
	}
}