/* 컨텐츠 css */
.bo_tem_3 {overflow:hidden; width:100%; max-width:1100px; margin:0 auto; background:#fff; text-align:center;}

/* section step title */
.bo_tem_3 .step_tit {display:inline-block; padding:9px 32px; border:1px solid #8a2700; border-radius:10px; background:#8a2700; color:#fff; font-family:'Cafe24Ohsquare'; font-size:30px; font-weight:700;}
.bo_tem_3 .step_tit.white {background:#fff; color:#8a2700;}

/* section title */
.bo_tem_3 h3.sec_tit {position:relative; padding-top:30px; color:#1a1a1a; font-family:'Cafe24Ohsquare'; font-size:56px; font-weight:700; letter-spacing:-0.03rem;}
.bo_tem_3 h3.sec_tit.white {color:#fff;}

/* section01 */
.bo_tem_3 .section01 {position:relative; padding:250px 0 210px; background:url('/images/img_tem3/section01_bg.jpg') no-repeat center/cover;}
.bo_tem_3 .section01 .logo {position:absolute; top:50px; left:70px;}
.bo_tem_3 .section01 .box h5 {display:inline-block; padding:6px 21px; border-radius:16px; background:#8a2700; color:#fff; font-family:'Cafe24Ohsquare'; font-size:40px; font-weight:700; letter-spacing:-0.02rem;}
.bo_tem_3 .section01 .box h3 {padding:35px 0 50px; color:#fff; font-family:'Cafe24Ohsquare'; font-size:70px; font-weight:700; letter-spacing:-0.02rem; line-height:80px;}
.bo_tem_3 .section01 .box p {color:#fff; font-size:26px; letter-spacing:-0.03rem; line-height:38px;}
.bo_tem_3 .section01 .box p span {border-bottom:1px solid #fff; font-weight:700;}

/* section02 */
.bo_tem_3 .section02 {padding:100px 0 120px; background:url('/images/img_tem3/section02_bg.jpg') no-repeat center/cover;}
.bo_tem_3 .section02 .sub {padding-top:60px; color:#665e58; font-size:25px; letter-spacing:-0.04rem; line-height:38px; word-break:keep-all;}
.bo_tem_3 .section02 .sub span {position:relative; color:#1a58f5; background:url('/images/img_tem3/section02_line.png') no-repeat bottom center/100% 30%; color:#302d2b; font-weight:800;}

/* section03 */
.bo_tem_3 .section03 {position:relative; z-index:1; padding:120px 0;}
.bo_tem_3 .section03:before {display:block; position:absolute; top:150px; right:0; width:155px; height:139px; background:url('/images/img_tem3/section03_pictogram01.png') no-repeat center; content:'';}
.bo_tem_3 .section03:after {display:block; position:absolute; bottom:-50px; left:0; width:125px; height:168px; background:url('/images/img_tem3/section03_pictogram02.png') no-repeat center; content:'';}
.bo_tem_3 .section03 .step_list {width:80%; margin:80px auto 0; background:url('/images/img_tem3/section03_list_line.png') repeat-x top left; text-align:left;}
.bo_tem_3 .section03 .step_list li {position:relative; padding:29px 0 29px 85px; background:url('/images/img_tem3/section03_list_line.png') repeat-x bottom left; color:#666; font-size:30px; letter-spacing:-0.04rem; line-height:42px; word-break:keep-all;}
.bo_tem_3 .section03 .step_list li strong {display:inline-block; position:absolute; top:28px; left:27px; width:42px; height:42px; border-radius:50%; background:#b28850; color:#fff; font-size:23px; text-align:center; letter-spacing:-0.02rem; line-height:42px;}
.bo_tem_3 .section03 .step_list li span {color:#8a2700;}

/* section04 */
.bo_tem_3 .section04 {position:relative; padding:120px 10% 50px; background:#f1f0ed;}
.bo_tem_3 .section04:before {display:block; position:absolute; bottom:-30px; right:30px; width:81px; height:236px; background:url('/images/img_tem3/section04_pictogram01.png') no-repeat center; content:'';}
.bo_tem_3 .section04 .process {margin-left:-68px; padding-top:75px; font-size:0;}
.bo_tem_3 .section04 .process li {display:inline-block; position:relative; width:33.33%; margin-bottom:45px; padding-left:68px; text-align:right;}
.bo_tem_3 .section04 .process li:after {position:absolute; top:50%; left:0; width:68px; height:120px; margin-top:-60px; background:#8a2700 url('/images/img_tem3/section04_process_arrow.png') no-repeat center; content:'';}
.bo_tem_3 .section04 .process li:nth-child(1):after,
.bo_tem_3 .section04 .process li:nth-child(4):after {display:none;}
.bo_tem_3 .section04 .process li .box {overflow:hidden; position:relative; height:258px; padding:57px 40px 0; background:url('/images/img_tem3/section04_process_bg.png') no-repeat center/100% 100%; box-shadow:-25px 14px 40px 0px rgba(42, 42, 51, 0.08);}
.bo_tem_3 .section04 .process li .box strong {position:absolute; top:50%; left:-9%; margin-top:-71px; color:#b47041; font-family:'Cafe24Ohsquare'; font-size:120px; font-weight:700; opacity:.4;}
.bo_tem_3 .section04 .process li .box span {color:#302d2b; font-size:24px; letter-spacing:-0.04rem;}
.bo_tem_3 .section04 .process li .box p {padding:15px 0 25px; color:#302d2b; font-size:28px; font-weight:700; letter-spacing:-0.04rem;}

/* section05 */
.bo_tem_3 .section05 {padding:110px 0 115px; background:url('/images/img_tem3/section05_bg.jpg') no-repeat center/cover;}
.bo_tem_3 .section05 .cnt {margin-top:50px;}
.bo_tem_3 .section05 .cnt dl dt {padding-bottom:50px; color:#ffaf96; font-size:34px; font-weight:400; letter-spacing:-0.04rem;}
.bo_tem_3 .section05 .cnt dl dd {color:#fff; font-size:25px; letter-spacing:-0.04rem; line-height:38px; word-break:keep-all;}

/* section06 */
.bo_tem_3 .section06 {position:relative; padding:120px 0 80px;}
.bo_tem_3 .section06:after {display:block; position:absolute; bottom:0; left:0; width:100%; height:38%; background:#f1f0ed; content:'';}
.bo_tem_3 .section06 .result {padding-top:50px;}
.bo_tem_3 .section06 .result .txt p {display:inline-block; padding:18px 60px; background:url('/images/img_tem3/section06_txt_bg.png') no-repeat center/100% 100%; color:#5e4e48; font-size:40px; font-weight:400; letter-spacing:-0.03rem;}
.bo_tem_3 .section06 .result .txt p span {color:#8a2700; font-weight:700;}
.bo_tem_3 .section06 .result .img {padding-top:85px;}
.bo_tem_3 .section06 .result .img span {display:inline-block; position:relative; z-index:1;}
.bo_tem_3 .section06 .result .img span img {max-width:100%;}
.bo_tem_3 .section06 .result .img span:before {display:block; position:absolute; bottom:20px; left:-70px; width:112px; height:247px; background:url('/images/img_tem3/section06_pictogram01.png') no-repeat center; content:'';}

/* section07 */
.bo_tem_3 .section07 {padding-top:120px;}
.bo_tem_3 .section07 .lawyer img {max-width:100%;}

/* 전화번호 */
.bo_tem_3 .tel_info {padding:40px 0; background:#4d3931; font-size:0;}
.bo_tem_3 .tel_info li {display:inline-block; width:50%; color:#fff; font-size:22px; letter-spacing:-0.04rem;}
.bo_tem_3 .tel_info li span {display:inline-block; padding-left:40px; background:no-repeat left center;}
.bo_tem_3 .tel_info li.kakao span {background-image:url('/images/img_tem3/tel_info_kakao.png');}
.bo_tem_3 .tel_info li.call span {background-image:url('/images/img_tem3/tel_info_call.png');}
.bo_tem_3 .tel_info li span strong,
.bo_tem_3 .tel_info li span a {padding-left:5px; color:inherit; font-size:28px; font-weight:800;}


@media screen and (max-width: 900px) { 
	/* section step title */
	.bo_tem_3 .step_tit {padding:7px 25px; font-size:23px;}

	/* section title */
	.bo_tem_3 h3.sec_tit {font-size:43px;}

	/* section01 */
	.bo_tem_3 .section01 .logo {top:40px; left:50px;}
	.bo_tem_3 .section01 .box h5 {padding:5px 20px; font-size:30px;}
	.bo_tem_3 .section01 .box h3 {font-size:55px; line-height:65px;}
	.bo_tem_3 .section01 .box p {font-size:22px; line-height:33px;}

	/* section02 */
	.bo_tem_3 .section02 .sub {font-size:20px; line-height:32px;}

	/* section03 */
	.bo_tem_3 .section03:before {width:100px; background-size:100% auto;}
	.bo_tem_3 .section03:after {width:80px; background-size:100% auto;}
	.bo_tem_3 .section03 .step_list {width:90%;}
	.bo_tem_3 .section03 .step_list li {font-size:22px; line-height:34px;}
	.bo_tem_3 .section03 .step_list li strong {width:35px; height:35px; font-size:18px; line-height:35px;}

	/* section04 */
	.bo_tem_3 .section04 {padding:120px 5% 50px;}
	.bo_tem_3 .section04:before {width:70px; background-size:100% auto;}
	.bo_tem_3 .section04 .process {margin-left:-50px;}
	.bo_tem_3 .section04 .process li {padding-left:50px;}
	.bo_tem_3 .section04 .process li:after {width:50px;}
	.bo_tem_3 .section04 .process li .box {padding:57px 30px 0;}
	.bo_tem_3 .section04 .process li .box span {font-size:20px;}
	.bo_tem_3 .section04 .process li .box p {padding:10px 0 20px; font-size:22px;}

	/* section05 */
	.bo_tem_3 .section05 .cnt dl dt {font-size:30px;}
	.bo_tem_3 .section05 .cnt dl dd {font-size:20px; line-height:33px;}

	/* section06 */
	.bo_tem_3 .section06 .result .txt p {padding:14px 55px; font-size:28px;}
	.bo_tem_3 .section06 .result .img span {width:80%;}
	.bo_tem_3 .section06 .result .img span:before {bottom:5px; left:-40px; width:98px; background-size:100% auto;}

	/* section07 */
	.bo_tem_3 .section07 .lawyer {padding:0 5%;}

	/* 전화번호 */
	.bo_tem_3 .tel_info {padding:30px 0;}
	.bo_tem_3 .tel_info li {font-size:16px;}
	.bo_tem_3 .tel_info li span {padding-left:35px; background-size:25px auto;}
	.bo_tem_3 .tel_info li span strong,
	.bo_tem_3 .tel_info li span a {font-size:20px;}
}


@media screen and (max-width: 768px) { 
	/* section step title */
	.bo_tem_3 .step_tit {padding:5px 20px; font-size:18px;}

	/* section title */
	.bo_tem_3 h3.sec_tit {padding-top:15px; font-size:28px;}

	/* section01 */
	.bo_tem_3 .section01 {padding:125px 0 105px;}
	.bo_tem_3 .section01 .logo {top:20px; left:20px;}
	.bo_tem_3 .section01 .logo img {width:121px;}
	.bo_tem_3 .section01 .box h5 {padding:5px 12px; border-radius:8px; font-size:20px;}
	.bo_tem_3 .section01 .box h3 {padding:17px 0 25px; font-size:35px; line-height:40px;}
	.bo_tem_3 .section01 .box p {font-size:13px; line-height:20px;}

	/* section02 */
	.bo_tem_3 .section02 {padding:50px 0 60px;}
	.bo_tem_3 .section02 .sub {padding-top:30px; font-size:15px; line-height:22px;}

	/* section03 */
	.bo_tem_3 .section03 {padding:60px 0;}
	.bo_tem_3 .section03:before {top:80px; width:78px; height:84px;}
	.bo_tem_3 .section03:after {bottom:-40px; width:63px; height:100px;}
	.bo_tem_3 .section03 .step_list {margin-top:40px;}
	.bo_tem_3 .section03 .step_list li {padding:15px 0 15px 40px; font-size:15px; line-height:21px;}
	.bo_tem_3 .section03 .step_list li strong {top:12px; left:12px; width:22px; height:22px; font-size:13px; line-height:22px;}

	/* section04 */
	.bo_tem_3 .section04 {padding:60px 5% 25px;}
	.bo_tem_3 .section04:before {bottom:-15px; right:15px; width:40px; height:130px;}
	.bo_tem_3 .section04 .process {margin-left:-20px; padding-top:35px;}
	.bo_tem_3 .section04 .process li {width:33.33%; margin-bottom:23px; padding-left:20px;}
	.bo_tem_3 .section04 .process li:after {width:20px; height:60px; margin-top:-30px; background-size:8px auto;}
	.bo_tem_3 .section04 .process li .box {height:130px; padding:25px 20px 0;}
	.bo_tem_3 .section04 .process li .box strong {left:-7%; margin-top:-32px; font-size:55px;}
	.bo_tem_3 .section04 .process li .box span {font-size:12px;}
	.bo_tem_3 .section04 .process li .box p {padding:7px 0 13px; font-size:14px;}
	.bo_tem_3 .section04 .process li .box img {width:26px;}

	/* section05 */
	.bo_tem_3 .section05 {padding:55px 0 57px;}
	.bo_tem_3 .section05 .cnt {margin-top:25px;}
	.bo_tem_3 .section05 .cnt dl dt {padding-bottom:25px; font-size:17px;}
	.bo_tem_3 .section05 .cnt dl dd {font-size:13px; line-height:23px;}

	/* section06 */
	.bo_tem_3 .section06 {padding:60px 0 40px;}
	.bo_tem_3 .section06:after {height:32%;}
	.bo_tem_3 .section06 .result {padding-top:25px;}
	.bo_tem_3 .section06 .result .txt p {padding:9px 28px; font-size:18px;}
	.bo_tem_3 .section06 .result .img {padding-top:42px;}
	.bo_tem_3 .section06 .result .img span:before {bottom:10px; left:-20px; width:55px; height:145px;}

	/* section07 */
	.bo_tem_3 .section07 {padding-top:60px;}

	/* 전화번호 */
	.bo_tem_3 .tel_info {padding:20px 0; font-size:0;}
	.bo_tem_3 .tel_info li {font-size:11px;}
	.bo_tem_3 .tel_info li span {padding-left:20px; background-size:15px auto;}
	.bo_tem_3 .tel_info li span strong,
	.bo_tem_3 .tel_info li span a {padding-left:2px; font-size:14px;}
}